@import "tailwindcss";

:root {
  /*  main color */
  --primary: #7C3AED;
  --primary-dark: #6D28D9;
  --primary-light: #A78BFA;

  --background: #F8F7FF;
  --card: #FFFFFF;

 
  --foreground: #1E1B4B;
  --foreground-muted: #6B7280;


  --accent: #06B6D4;

 /* error & success */
  --success: #10B981;
  --error: #EF4444;
  --warning: #F59E0B;

  
  --border: #E5E7EB;
}

.dark {
  --background: #0F0A1E;
  --card: #1A1033;
  --foreground: #EDE9FE;
  --foreground-muted: #9CA3AF;
  --border: #2D2050;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}